$primary: #5266DF;
$secondary: #F7F7F6;


@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme: (
    "salmon": #FA5859
);


$theme-colors: map-merge($theme-colors, $custom-theme);

@import '../node_modules/bootstrap/scss/bootstrap';